@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}
.card-container{
    margin:1rem;
    width: 400px;
    height: auto;
    display:flex;
    flex-direction: column;
    border : 2px solid darkgrey;
    box-shadow: 2px 2px 20px 1px mediumpurple;
    border-radius: 0.5rem;
    overflow: hidden;
}

.image img{
    width : 100%;

}
.card-header{
    margin: 0.5rem 0.2rem;
}
.author-name-color{
    color:darkgrey;
}
.card-para{
    margin: 1rem 0.5rem;
    color: darkgrey;
}
.card-links{
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    margin: 1rem 0.5rem; 
}
a{
  padding:0.2rem;
  text-decoration: none;
  border-radius: 0.2rem;
}
a:hover{
 background-color: lightgray;
}
i{
    /* border: solid black; */
    color:gray;
    padding: 0.3rem;
    border-radius: 50%;
}
i:hover{
    background-color: lightgray; 
}
.link-hide{
    visibility: hidden;
}